<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="font/bootstrap-icons.css" type="text/css">
    <script type="text/javascript" src="crypto-js.js"></script>
    <script>
        function checkPassword(event) {
            const userType = document.getElementById("userType").value;
            const currentPassword = document.getElementById("currentPassword") ? 
                                    document.getElementById("currentPassword").value :
                                    null;
            const currentSalt = document.getElementById("currentSalt").value;
            const newPassword1 = document.getElementById("newPassword1").value;
            const newPassword2 = document.getElementById("newPassword2").value;
            const targetUserLoginId = document.getElementById("targetUserLoginId") ? 
                                      parseInt(document.getElementById("targetUserLoginId").value) : 
                                      null;

            console.log("typeof targetuserLoginId: ", typeof targetUserLoginId);
            if (currentPassword == "" && !targetUserLoginId) {
                event.preventDefault();
                document.getElementById("message").innerHTML = "Please enter current password";
                document.getElementById("currentPassword").classList.add("border", "border-danger", "border-3");
            } else if (newPassword1 == "") {
                event.preventDefault();
                document.getElementById("message").innerHTML = "Please enter the new password";
                document.getElementById("newPassword1").classList.add("border", "border-danger", "border-3");
            } else if (newPassword2 == "") {
                event.preventDefault();
                document.getElementById("message").innerHTML = "Please re-enter the new password";
                document.getElementById("newPassword1").classList.add("border", "border-danger", "border-3");
            } else if ((currentPassword == newPassword1) && !targetUserLoginId) {
                event.preventDefault();
                document.getElementById("message").innerHTML = "New password can't be existing password, try again.";
                document.getElementById("newPassword1").classList.add("border", "border-danger", "border-3");
                document.getElementById("newPassword1").classList.add("border", "border-danger", "border-3");
            } else {
                console.log("State of targetUserLoginId: ", targetUserLoginId);
                if (targetUserLoginId == undefined) {
                    // pass current hash for verification
                    let currentPasswordHash = CryptoJS.SHA256(currentPassword + ":" + currentSalt).toString(CryptoJS.enc.Hex);
                    document.getElementById("currentHash").value = currentPasswordHash;
                }

                // Pass new hash and salt
                const newSalt = CryptoJS.lib.WordArray.random(8);
                const newHashedPassword = CryptoJS.SHA256(newPassword1 + ":" + newSalt).toString(CryptoJS.enc.Hex);
                document.getElementById("newPasswordHash").value = newHashedPassword;
                document.getElementById("newSalt").value = newSalt;
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand text-primary fs-2" href="/">Express Bank</a>
        <div class="navbar-text d-flex flex-column text-end">
            <span>
                Welcome, <%- locals.userFirstName %>
            </span>
            <span>
                Login ID: <%- locals.userLoginId %>
            </span>
            <a href="/logout"><button class="btn btn-outline-secondary mt-1">Logout</button></a>
        </div>
    </nav>
    <div class="d-flex justify-content-between">
        <h1 class="m-3">Change Password</h1>
        <div class="d-flex align-items-center p-3 gap-3">
            <a href="/profile"><button class="btn btn-primary">View Profile</button></a>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="rounded d-flex justify-content-center gap-5">
            <div class="p-3 shadow-lg bg-light" style="width: 500px;">
                <div class="d-flex justify-content-center mt-3">
                    <form onsubmit="return checkPassword(event);" method="post">
                        <div class="container p-0" style="width: 300px;">
                            <% if (locals.targetUserLoginId && locals.userType == "admin") { %>
                                <input type="hidden" id="targetUserLoginId" value="<%- locals.targetUserLoginId %>">
                            <% } else { %>
                                <label for="currentPassword" class="mt-3">Current password</label>
                                <input type="password" id="currentPassword" class="form-control" autofocus="autofocus" placeholder="Enter current password">
                            <% } %>
                            <label for="newPassword1" class="mt-3">Enter new password</label>
                            <input type="password" id="newPassword1" class="form-control" autofocus="autofocus" placeholder="Enter new password">
                            <label for="newPassword2" class="mt-3">Re-enter new password</label>
                            <input type="password" id="newPassword2" class="form-control" autofocus="autofocus" placeholder="Re-enter new password">
                            <input type="hidden" id="newPasswordHash" name="newPasswordHash">
                            <input type="hidden" id="newSalt" name="newSalt">
                            <input type="hidden" id="currentHash" name="currentHash">
                            <input type="hidden" id="currentSalt" name="currentSalt" value="<%- locals.salt %>">
                            <input type="hidden" id="userType" value="<%- locals.userType %>">
                            <p id="message" class="text-danger mt-3">
                                <%- locals.message %>
                            </p>
                            <p id="success_message" class="text-success mt-3">
                                <%- locals.success_message %>
                            </p>
                            <div class="text-end">
                                <button class="btn btn-primary mt-3" type="submit">Change password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/dashboard'">Return to dashboard</button>
    </div>
</body>
</html>